* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: #e5e5e5;
}

.container {
  margin: 0 auto;
  width: 900px;
  height: 100%;
  background: #fff;
}

.header {
  height: 94px;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #8a24ae 56.38%, #a626d3 100%);
  color: #fff;
}

.header-image {
  width: 55px;
  object-fit: contain;
  margin-right: 0.8em;
}

.header-title {
  margin-right: auto;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.header-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

main {
  padding: 3em;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 27px;
}

.form-input {
  font-family: 'Karla', sans-serif;
  padding: 1em;
  font-size: 1rem;
  color: #0d0d0d;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
}

.form-button {
  font-family: 'Karla', sans-serif;
  height: 50px;
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -1px;
  color: #fff;
  cursor: pointer;
}

.meme-image {
  width: 100%;
  margin-top: 3em;
  border-radius: 2px;
}
